<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("../partials/cabecalho.ejs")%>
</head>
<body>
    <div class="container">
        <% if (salvo == 4) { %>
            <div class="jumbotron text-center" style="background-color: rgb(214, 73, 68);"> CPF já existente!</div>
        <% } %>
            <% if(medico.id != undefined) {%>
                <form class="form-inline" action="/medicos/cadastro/<%=medico._id%>" method="post">
                    <h1> Atualizar</h1>
                    <div class="form-group">
                        <label for="nome"> ID:</label>
                        <input type="text" required class="form-control" readonly value="<%=medico._id%>" id="id" name="id"><br>
                    </div>
                    <div class="form-group">
                        <label for="nome"> Nome:</label>
                        <input type="text" class="form-control" id="nome" value="<%=medico.nome%>" name="nome"><br>
                    </div>
                    <% if (salvo == 6) { %>
                        <div class="jumbotron text-center" style="background-color: rgb(214, 73, 68);"> CPF já cadastrado!</div>
                    <% } %>
                    <div class="form-group">
                        <label for="cpf"> CPF:</label>
                        <input type="text" class="form-control" id="cpf" value="<%=medico.cpf%>" name="cpf"><br>
                    </div>
                    <div class="form-group">
                        <label for="idade"> Idade: </label>
                        <input type="text" class="form-control" id="number" value="<%=medico.idade%>" name="idade"><br>
                    </div>
                    <div class="form-group">
                        <label for="atuacao"> Área de Atuação:</label>
                        <input type="text" class="form-control" id="atuacao" value="<%medico.areaDeAtuacao%>" name="atuacao"><br>
                    </div>
                    <div class="jumbotron text-center">
                        <input type="submit" class="btn btn-primary" name="env" value="Atualizar">
                        <a href="/" class="btn btn-secondary" role="button" >Página Inicial</a>
                    </div>
                    
                </form>
            <% } else{%>
                <form class="form-inline" action="/medicos/cadastro" method="post">
                    <h1> Atualizar</h1>
                    <div class="form-group">
                        <label for="id"> Código: </label>
                        <input class="form-control" id="id" type="number" name="id"><br>
                    </div>
                    <div class="form-group">
                        <label for="nome"> Nome:</label>
                        <input type="text" class="form-control" id="nome" name="nome"><br>
                    </div>
                    <div class="form-group">
                        <label for="cpf"> CPF:</label>
                        <input type="text" class="form-control" id="cpf" name="cpf"><br>
                    </div>
                    <div class="form-group">
                        <label for="idade"> Idade: </label>
                        <input type="text" class="form-control" id="number" name="idade"><br>
                    </div>
                    <div class="form-group">
                        <label for="atuacao"> Área de Atuação:</label>
                        <input type="text" class="form-control" id="atuacao" name="atuacao"><br>
                    </div>
                    <div class="jumbotron text-center">
                        <input type="submit" class="btn btn-primary" name="env" value="Salvar">
                        <a href="/" class="btn btn-secondary" role="button" >Página Inicial</a>
                    </div>
                    
                </form>
            <% } %>
    </div>
</body>

<footer>
    <%- include("../partials/rodape.ejs")%>
</footer>

</html>