<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <%- include("../partials/cabecalho.ejs")%>
</head>
<body>
    <div class="container">
        <div>
            <h2>Lista de Clientes</h2>
            <table class="table table-striped" border="1">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Idade</th>
                        <th scope="col">Área de Atuação</th>
                        <th scope="col">Detalhamento</th>
                    </tr>
                </thead>
                <tbody>
                <% for (const medico of medicos) {%>
                    <tr>
                        <td>Id: <%=medico.id %></td> 
                        <td>Nome: <%=medico.nome %></td> 
                        <td>CPF: <%=medico.cpf %></td> 
                        <td>Idade: <%=medico.idade %></td> 
                        <td>Atuacao: <%=medico.areaDeAtuacao %></td> 
                        <td><a href="http://localhost:3000/medicos/<%=medico.id%>">Detalhar</a></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <br>
        <% if (salvo != undefined) { %>
            <div class="jumbotron text-center" style="background-color: lightgreen;"> Cadastrado com sucesso!</div>
        <% } %>
        <br>
        <div class="jumbotron text-center">
            <a href="/" class="btn btn-secondary" role="button" >Página Inicial</a>
        </div>
    </div>
</body>

<footer>
    <%- include("../partials/rodape.ejs")%>
</footer>

</html>