<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pacientes</title>
    <%- include("../partials/cabecalho.ejs")%>
</head>
<body>
    <div class="container">
        <div>
            <h2>Lista de Pacientes</h2>
            <table class="table table-striped" border="1">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Idade</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Bairro</th>
                        <th scope="col">Rua</th>
                        <th scope="col">Logradouro</th>
                        <th scope="col">Número</th>
                        <th scope="col">Detalhamento</th>
                    </tr>
                </thead>
                <tbody>
                <% for (const paciente of pacientes) {%>
                    <tr>
                        <td>Id: <%=paciente.id %></td> 
                        <td>Nome: <%=paciente.nome %></td> 
                        <td>CPF: <%=paciente.cpf %></td> 
                        <td>Idade: <%=paciente.idade %></td> 
                        <td>Id: <%=paciente.endereco.estado %></td> 
                        <td>Nome: <%=paciente.endereco.cidade %></td> 
                        <td>Nome: <%=paciente.endereco.bairro %></td> 
                        <td>Idade: <%=paciente.endereco.rua %></td>
                        <td>Id: <%=paciente.endereco.logradouro %></td> 
                        <td>Nome: <%=paciente.endereco.numero %></td> 
                        <td><a href="http://localhost:3000/pacientes/<%=paciente.id%>">Detalhar</a></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <br>
        <% if (salvo != undefined) { %>
            <div class="jumbotron text-center" style="background-color: lightgreen;"> Cadastrado com sucesso!</div>
        <% } %>
        <br>
        <div class="jumbotron text-center">
            <a href="/" class="btn btn-secondary" role="button" >Página Inicial</a>
        </div>
    </div>
</body>

<footer>
    <%- include("../partials/rodape.ejs")%>
</footer>

</html>