<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("../partials/cabecalho.ejs")%>
</head>
<body>
    <div class="jumbotron text-center">
        <div>
            Nome: <%=paciente.nome %>
        </div>
        <div>
            CPF: <%=paciente.cpf %> 
        </div>
        <div>
            Idade: <%=paciente.idade %>
        </div>
        <div>
            Estado: <%=paciente.endereco.estado %> 
        </div>
        <div>
            Cidade: <%=paciente.endereco.cidade %>
        </div>
        <div>
            Bairro: <%=paciente.endereco.bairro %> 
        </div>
        <div>
            Rua: <%=paciente.endereco.rua %>
        </div>
        <div>
            Logradouro: <%=paciente.endereco.logradouro %> 
        </div>
        <div>
            Numero: <%=paciente.endereco.numero %>
        </div>
        <div>
            <a href="/" class="btn btn-secondary" role="button" >Página Inicial</a>
        </div>
    </div>
</body>
<footer>
    <%- include("../partials/rodape.ejs")%>
</footer>
</html>